@media (min-width:767px){
  .links-adjustment{
    display: none !important;
  }
  .navbar-collapse-adjustment button{
    display: none !important;
    
  }
}
.navbar-collapse-adjustment button{
  background-color: #4caf4f !important;
}
.button-alignment-adjustment{
  background-color: #4caf4f !important;
}
.button-alignment-adjustment span{
  align-items: center;
  gap: 7px;
}
.navbar-homepage nav{
  width: 90%;
}
@media (max-width:850px){
  .navbar-homepage nav{
    width: unset !important;
    margin: unset !important;
  }
}









































